.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1440px;

  grid-template-areas:
    "h h h"
    "n c c"
    "f f f";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr 2fr;
  grid-gap: 10px;

}

.header {
  grid-area: h;
}

.navbar {
  padding-top: 40px;
  grid-area: n;
}

.content {
  padding-top: 40px;
  grid-area: c;

}


.footer {
  padding-top: 40px;
  padding-left: 10px;
  grid-area: f;
}






.mat-raised-button {
  margin-top: 10px;
  margin-left: 10px;
  margin-outside: 10px;
  padding: 10px;
  color: blueviolet;

}

.mat-title {
  padding: 10px;
}
