
<div class="mat-title">  {{ title }} </div>
<button class="mat-raised-button" (click)="increase()">Increase</button>
<button class="mat-raised-button" (click)="decrease()" [disabled]="cannotDecrease$ | async" >Decrease</button>
<button class="mat-raised-button" (click)="clear()"    [disabled]="cannotDecrease$ | async" >Clear</button>
<p></p>
<div>


  <span class="mat-title">
    Counter is : {{ count$ | async }} :
    <p *ngIf="updatedAt$ | async">
      Update at: {{ updatedAt$ | async | date: "yyyy-MM-dd  hh:mm:ss"}}
    </p>
  </span>
</div>


<router-outlet></router-outlet>
